body, html{
	margin: 0;
	padding: 0;
}

 #logo{
   
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    margin: 30px 80px;
    height: 72px;
    width: 154px;
 }

.block{
	position: relative;
	text-align: center;
	padding:50px;	
	z-index: 0;
	background-repeat: no-repeat;
 	background-size: cover;
 	background-position: center;
}

h2{
	font-size: 24pt;		
	font-family: 'Roboto', serif;
}


$grey: #b7b7b7;
$light_grey: #f3f3f3;
$main_color: #2fc3b7;
$main_color_hover: #5cd5cb;
