body, html{
	margin: 0;
	padding: 0;
}

$grey: #b7b7b7;
$light_grey: #f3f3f3;
$darker_light_grey: #eeeeee;
$main_color: #2fc3b7;
$main_color_hover: #5cd5cb;

#logo{
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    margin: 30px 80px;
    height: 72px;
    width: 154px;
 }

.block{
	position: relative;
	text-align: center;
	padding:50px;	
	z-index: 0;
	background-repeat: no-repeat;
 	background-size: cover;
 	background-position: center;
}

h2{
	font-size: 24pt;		
	font-family: 'Roboto', serif;
}

h2.center{
	text-align:center;
}
h2.center:after{
	content:" ";
	height: 2px;
	width:300px;
	background-color: $grey;
	display: block;
	left:0;
	right: 0;
	margin: auto;
	margin-top: 10px;
}
h2.left{
	text-align: left;
	vertical-align: top;
}
h2.left:after{
	content:" ";
	height: 2px;
	width:300px;
	background-color: $grey;
	display: block;
	margin-top: 10px;
}
h2.right{
	margin-top:0;
	text-align: right;
}
h2.right:after{
	content:" ";
	height: 2px;
	width:300px;
	background-color: $grey;
	display: block;
	margin-left:auto;
	margin-right: 0;
	margin-top: 10px;
}
h2.light{
	color:white;
}
h3.left{
	font-size: 16pt;
	font-weight: normal;		
	font-family: 'Roboto', serif;
	text-align: left;
	margin-top: 0;
}
h3.left:after{
	content:" ";
	height: 2px;
	width:300px;
	background-color: $grey;
	display: block;
	margin-top: 10px;
}

  @media screen and (max-width: 410px) {
    .block{
    	padding:30px;	
    }
    h2.center:after{
    	width:200px;
    }
    h2.left:after{
    	width:200px;
    }
    h2.right:after{
    	width:200px;
    }
    h3.left:after{
    	width:200px;
    }
    
  }
@media screen and (max-width: 370px) {
  h2{
    font-size: 20pt;
  }
}